<div class="container mt-sm-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 card">
        <div class="card-body">
          <h2 class="card-title text-dark">Artist Directory</h2>

            <div class="form-row mb-2">
              <div class="col">
                <label class="col-form-label text-right" for="searchQuery">
                  search <span *ngIf="this.searchQuery">for: {{ this.searchQuery }}</span>
                </label>
              </div>

              <div class="col-12">

                <mat-form-field class="search-field">
                  <input matInput placeholder="Search for artists" id="searchQuery" type="search" [(ngModel)]="searchQuery" autofocus>
                  <button mat-button *ngIf="searchQuery" matSuffix mat-icon-button aria-label="Clear" (click)="this.searchQuery=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>

            <div class="form-row">
                <div class="col">

                  <mat-form-field class="artist-order w-100">
                    <mat-select placeholder="Order search results by" [(ngModel)]="this.searchField">
                      <mat-option value="{{ SearchField.Name }}">Name</mat-option>
                      <mat-option value="{{ SearchField.Reknown }}">Reknown</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-5 col-md-4 direction">

                  <mat-radio-group [(ngModel)]="this.searchOrder">
                    <mat-radio-button value="{{ SearchOrder.Ascending }}">asc</mat-radio-button>
                    <mat-radio-button value="{{ SearchOrder.Descending }}">desc</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>

        </div>
    </div>
  </div>
</div>
<app-artist-list></app-artist-list>
